

.navbar{
    background-color: orange;
}


.nav-link,
.navbar-brand,
.navbar-brand:hover{

    color: white;
}

.nav .nav-item .active{
    background-color: white;
    color: orange;
}

.nav .nav-item:hover{
    color: white;
}

.navbar-toggler-icon{
    border-color: white;
}


ol {
    list-style-type: none;
  }